* {
    box-sizing: border-box;
    text-align: left;
    margin: 0;
}
body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: rgb(184, 180, 180);
    font-size: 18px;
}
.clearfix {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    color: #777;
    width: 100%;
    height: 80px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.name-container {
    display: block;
    background: #4aaaa5;
    width: 220px;
    height: 80px;
    color: white;
    text-justify: auto;
    padding-top: 25px;
    position: absolute;
    margin: -19px 13%;
    padding-left: 10px;
    font-size: 25px;
}
.content {
    color: #777272;
    padding-bottom: 20px;
    background: white;
    margin: 23px 15%;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    width: 960px;
    margin-top:-19px;
}
.nav-container {
    float: right;
    position: relative;
    padding-top: 25px;
    color: rgb(240, 234, 234);
    margin: 0 16%;
}
a:link, a:visited {
    color: #777777;
    text-decoration: none;
    padding: 14px;
}
a:hover, a:active {
    color: #777777
    text-decoration: none;
    padding: 14px;
}

.outside {
    background: rgb(184, 180, 180);
    margin-top: -19px;
}

footer {
    background: #666666;
    color: rgb(184, 180, 180);
    text-align: center;
    font-size: small;
    height: 0px;
    margin: o auto;
    padding-bottom: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    border-top: 7px solid #4aaaa5;
}
h1 {
    color: #4aaaa5;
    padding-top: 30px;
    padding-left: 20px;
    
}
.paragraph {
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-justify: auto;
    line-height: 1.6;
}
img {
    height: 145px;
    width: 208px;
    padding-left: 20px;
    float: left;
    padding-top: 0px;
    margin-right: 10px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}   